/* =============
GLOBAL SETUP
============= */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* =============
BASIC SETUP
============= */
body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
}

/* =============
MULTI USABLE COMPONENTS
============= */
.btn:link, .btn:visited, .btn{
    text-decoration: none;
    padding: 3rem 8rem;
    background-color: #eb7d4b;
    border-bottom: .5rem solid #c86a40;
    border-radius: .3rem;
    color: #ffffff;
    -webkit-transition: .5s;
    transition: .5s;
}
h2{
    color: #ffffff;
    font-size: 4.2rem;
    font-weight: 700;
    text-transform: uppercase;
}
hr{
    margin: 0;
    width: 9rem;
    margin-top: 2rem;
    display: inline-block;
    border: none;
}
h3{
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}
ul li{
    list-style-type: none;
}
a,p{
    font-size: 1.6rem;
    line-height: 2.5rem;
}
.wrapper{
    max-width: 110rem;
    width: 100%;
    margin: 0 auto;
}

/* =============
GLOBAL SECTION AREA
============= */
.section-top{
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 12rem;
}
.section-top p{
    margin-top: 2rem;
}
.section-top hr{
    border-bottom: .4rem solid #14a58c;
}

/* =============
HEADER AREA
============= */
#header{
    background: #87509c;
    height: 85vh;
    width: 100%;
    overflow: hidden;
}
.header-top-area{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1rem;
}
.logo{
    width: auto;
    margin-top: 5rem;
}
/* .logo img{} */
/* .mainlogo{} */

/* nav area */
.nav-area{
    width: auto;
    margin-top: 5rem;
}
/* .nav{} */
.nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 1rem;
}
/* .nav ul li{} */
.nav ul li a{
    text-decoration: none;
    padding: 1rem 1.8rem;
    -webkit-transition: .5s;
    transition: .5s;
    color: #ffffff;
    border-radius: .3rem;
    display: inline-block;
    text-transform: uppercase;
}
.nav ul li a.active{
    background-color: #643a79;
}
.nav ul li a:hover:not(.active){
    background-color: #643a79;
}
/* STIKEY NAVIGATION */
.stikey{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -4rem;
    padding-bottom: 1rem;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #87509c;
    overflow: hidden;
    z-index: 9;
}
.hero-wrapper{
    width: 100%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.hero-area{
    width: 100%;
    text-align: center;
}
/* .hero-area h2{} */
.hero-area a{
    display: inline-block;
    margin-top: 6rem;
}
.hero-area .btn:hover{
    background-color: #c86a40;
}

/* =============
SERVICE AREA
============= */
.service-area{
    background: #17c2a4;
}
.service-area-top p{
    color: #ffffff;
}
.service-area-bottom{
    width: 100%;
    padding-bottom: 12rem;
    display: inline-block;
    margin-top: 8rem;
}
.service-area-bottom-services{
    text-align: center;
}
.service-area-bottom-services-img{
    text-align: center;
    display: inline-block;
    max-width: 14rem;
    width: 100%;
}
.service-area-bottom-services-img img{
    width: 100%;
}
.service-area-bottom-services-text{
    margin-top: 6rem;
}
/* .service-area-bottom-services-text h3{} */
.service-area-bottom-services-text p{
    margin-top: 3rem;
    color: #ffffff;
}

/* =============
TEAM AREA
============= */
.team-area{
    background-color: #e7f1f8;
}
/* .team-area-top{} */
.team-area-top h2{
    color: #3c4761;
}
.team-area-top hr{
    border-bottom: .4rem solid #c8d9e5;
}
.team-area-top p{
    color: #3c4761;
}
.team-area-bottom{
    width: 100%;
    padding-bottom: 12rem;
    display: inline-block;
    margin-top: 8rem;
    text-align: center;
}
.team-area-bottom-box{
    text-align: center;
}
.team-area-bottom-box-img{
    max-width: 20rem;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.team-area-bottom-box-img img{
    width: 100%;
    border-radius: 50%;
}
.team-area-bottom-box-text{
    margin-top: 4rem;
    text-align: center;
}
.team-area-bottom-box-text h3{
    color: #27283d;
}
.team-area-bottom-box-text span{
    font-size: 1.6rem;
    color: #30bae7;
    margin-top: 1rem;
    display: block;
}
.team-area-bottom-box-text p{
    color: #3c4761;
    margin-top: 2.5rem;
}
.team-area-social-icon{
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
}
.team-area-social-icon a{
    font-size: 2rem;
    background-color: #bdd1df;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 50%;
    color: #ffffff;
    -webkit-transition: .5s;
    transition: .5s;
}
.team-area-social-icon a:hover{
    background-color: #27283d;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* =============
SKILL AREA
============= */
/* animated progress bar */
svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 100%;
  }
  
  svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129; 
    stroke-width: 10;
  }
  
  svg.radial-progress circle.incomplete { opacity: 0.25; }
  
  svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
  
  svg.radial-progress text {
    fill: #fff;
    text-anchor: middle;
  }
/* main css */
.skill-area{
    background: #ffffff;
}
/* .skill-area-top{} */
.skill-area-top h2{
    color: #3c4761;
}
.skill-area-top hr{
    border-bottom: .4rem solid #dfe8ed;
}
.skill-area-top p{
    color: #3c4761;
    font-size: 1.8rem;
}
.skill-area-bottom{
    width: 100%;
    padding-bottom: 12rem;
    display: inline-block;
    margin-top: 8rem;
    text-align: center;
}
/* .skill-area-bottom-box{} */
.skill-area-bottom-box-progress{
    width: 100%;
}
svg.radial-progress circle{
    stroke-width: 5;
}
svg.radial-progress text{
    fill: #3c4761;
    font-size: 2rem;
    text-align: center;
}
svg.web-design circle{
    stroke: #30bae7;
}
svg.html-css circle{
    stroke: #d74680;
}
svg.graphic-design circle{
    stroke: #15c7a8;
}
svg.ui-ux circle{
    stroke: #eb7d4b;
}
.skill-area-bottom-box-progress h3{
    color: #3c4761;
    margin-top: 3rem;
}

/* =============
PORTFOLIO AREA
============= */
.portfolio-area{
    background: #ffdd99;
}
/* .portfolio-area-top{} */
.portfolio-area-top h2{
    color: #393939;
}
.portfolio-area-top hr{
    border-bottom: .4rem solid #e5c37f;
}
.portfolio-area-top p{
    color: #393939;
    font-size: 1.8rem;
}
.portfolio-btn{
    margin-top: 4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
}
.portfolio-btn button{
    padding: 1rem 2rem;
    border: none;
    background-color: #ebc985;
    color: #393939;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: .5rem;
    -webkit-transition: .5s;
    transition: .5s;
}
.portfolio-btn button:hover{
    background-color: #ffffff;
}
.portfolio-btn .mixitup-control-active{
    background-color: #ffffff;
}
.portfolio-area-bottom{
    margin-top: 6rem;
    margin-bottom: 2rem;
    display: inline-block;
    width: 100%;
}
.portfolio-area-bottom-box{
    text-align: center;
    margin-bottom: 6rem;
}
.portfolio-area-bottom-box-img{
    max-width: 54rem;
    width: 100%;
}
.portfolio-area-bottom-box-img img{
    width: 100%;
}
.portfolio-area-bottom-box h3{
    color: #393939;
    margin-top: 1rem;
}
.portfolio-area-btn{
    width: 100%;
    text-align: center;
    margin-bottom: 12rem;
}
.portfolio-area-btn a.btn{
    display: inline-block;
    background: #17c2a4;
    border-bottom: .4rem solid #14a58c;
    font-size: 1.8rem;
}
.portfolio-area-btn a.btn:hover{
    background-color: #14a58c;
}

/* =============
ABOUT AREA
============= */
.about-area{
    background: #d74680;
}
.about-area-top{
    width: 100%;
}
/* .about-area-top h2{} */
.about-area-top hr{
    border-bottom:  .4rem solid #b73c6d;
}
.about-area-top p{
    color: #fff;
    font-size: 1.8rem;
}
.about-area-bottom{
    margin-top: 7rem;
    display: inline-block;
    margin-left: 5.5rem;
}
.about-area-bottom-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.5rem;
    margin: 1% 0 11.42% 0%;
}
.col-margin{
    margin-left: 0;
}
.about-area-bottom-box-img{
    max-width: 10rem;
    width: 100%;
    height: auto;
}
.about-area-bottom-box-img img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.about-area-bottom-text{
    margin-right: 5.5rem;
}
.about-area-bottom-text p{
    color: #ffffff;
    font-style: italic;
    font-size: 2.1rem;
}
.about-area-bottom-text h3{
    margin-top: 2.5rem;
}
.about-area-bottom-text span{
    display: inline-block;
    font-size: 1.8rem;
    color: #ffdd99;
    margin-top: 1rem;
}

/* =============
HELP AREA
============= */
.help-area{
    background-color: #3c5499;
}
.help-area-top{
    width: 100%;
}
/* .help-area-top h2{} */
.help-area-top hr{
    border-bottom: .4rem solid #273a71;
}
.help-area-top p{
    color: #ffffff;
    font-size: 1.8rem;
}
.help-form-area{
    width: 75%;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 12rem;
}
/* .help-form-area form{} */
.help-form-area-input-top{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2rem;
}
.help-form-area-input-top input{
    width: 100%;
    padding: 2rem 2.4rem;
    font-size: 1.8rem;
    border-radius: .5rem;
    background-color: #273a71;
    color: #ffffff;
    border: none;
    outline: none;
}
.help-form-area-input-bottom{
    width: 100%;
    margin-top: 2.5rem;
}
.help-form-area-input-bottom textarea{
    width: 100%;
    padding: 2rem 2.4rem;
    font-size: 1.8rem;
    border-radius: .5rem;
    background-color: #273a71;
    color: #ffffff;
    border: none;
    outline: none;
}
.help-form-area form ::-webkit-input-placeholder{
    color: #ffffff;
    opacity: 1;
}
.help-form-area form :-ms-input-placeholder{
    color: #ffffff;
    opacity: 1;
}
.help-form-area form ::placeholder{
    color: #ffffff;
    opacity: 1;
}
.help-btn{
    width: 100%;
    text-align: center;
    margin-top: 6rem;
}
.help-btn button{
    border: none;
    outline: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: #30bae7;
    border-bottom: .4rem solid #299ec5;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}
.help-btn button:hover{
    background-color: #299ec5;
}

/* =============
FOOTER AREA
============= */
.footer{
    background: #344b8e;
}
.footer-wrapper{
    max-width: 110rem;
    width: 100%;
    padding: 4.5rem 0;
    margin: 0 auto;
    text-align: center;
}
.footer-wrapper a{
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: .5s;
    transition: .5s;
    margin: 2rem 0;
    margin-right: 4rem;
}
.footer-wrapper a:hover{
    color: #30bae7;
}
.footer-margin{
    margin-right: 0;
}

/* =============
THE END
============= */